<% book.book_comments.each do |book_comment| %>
  <p><%#= image_tag('sample-author1.jpg') %></p>
  <%= book_comment.user.name %>
  <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
  <% if book_comment.user == current_user %>
  <div>
    <%= link_to  book_book_comment_path(book_comment.book_id, book_comment.id), method: :delete, remote: true do %>
    <p>削除</p>
    <% end %>
  </div>
  <% end %>
  
<% end %>